<%= render "search" %>
<h1>Items</h1>
<div class="row">
  <div class="col-md-12">
    <%= paginate @items %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <%= render "listing" %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginate @items %>
  </div>
</div>
