<h1>Create Item</h1>

<%= render "/layouts/flash" %>

<%= render "form" %>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Back to My Items", user_items_path, class: "pull-right" %>
  </div>
</div>
