// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-search {
  margin-top: 100px;
}

p.item-description {
  height: 100px;
}

div.bad-review {
  opacity: 0.5;
}

div.bad-review:hover {
  opacity: 1;
}
